# Salin file ini menjadi .env.local dan isi dengan data dari Supabase dashboard
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...

# Daftar gratis di https://fonnte.com untuk kirim WA
NEXT_PUBLIC_FONNTE_TOKEN=
